[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bcrypt = "==3.1.4"
blinker = "==1.4"
certifi = "==2016.2.28"
cffi = "==1.11.5"
click = "==6.7"
itsdangerous = "==0.24"
pycparser = "==2.18"
six = "==1.11.0"
Flask = "*"
Flask-Bcrypt = "==0.7.1"
Flask-Login = "==0.4.1"
Flask-Mail = "==0.9.1"
Flask-SQLAlchemy = "*"
Flask-WTF = "==0.14.2"
Jinja2 = "*"
MarkupSafe = "==1.0"
Pillow = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "==2.1"
python-dotenv = "*"
psycopg2 = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"
