<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,800&display=swap&subset=cyrillic"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />

    {% if title %}
    <title>Chazes Blog - {{ title }}</title>
    {% else %}
    <title>Chazes Blog</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav alightleft">
              {% if current_user.is_authenticated %}
              <a
                class="nav-item nav-link"
                href="{{ url_for('posts.new_post') }}"
                >New Post</a
              >
              <a class="nav-item nav-link" href="{{ url_for('users.account') }}"
                >Account</a
              >
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}"
                >Logout</a
              >
              {% else %} {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="main-logo">
        <a class="brand-logo" href="/"
          ><img
            id="logo"
            src="{{url_for('static', filename='img/chazes.png')}}"
            alt="Home"
        /></a>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock
          %}
        </div>
      </div>
    </main>

    <section id="footer">
      <div class="same-line">
        <div class="alignleft">
          <a href="{{ url_for('users.login') }}"
            ><i class="fas fa-poo-storm"></i> [Login]</a
          >
          <a href="http://www.artem-yerep.com"
            ><i class="fas fa-globe-americas"></i> [Back to chaze.net]</a
          >
        </div>
        <div class="alignright">
          Made with love by <b>:AY</b
          ><a href="http://www.artem-yerep.com" target="_blank">
            <img
              id="ay-logo"
              src="{{url_for('static', filename='img/ay-2.png')}}"
              alt="Profile"
            />
          </a>
        </div>
      </div>
      <div style="clear: both;"></div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
